<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="openCart()">
        <div class="cart-length">{{ cartItemCount | async }}</div>
        <ion-icon name="cart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col size="12">

        <ion-card style="padding: 15px 10px 15px 10px;">
          <ion-grid>
            <ion-row>

              <ion-col size="3" size-sm>
                <div class="display-center" style="flex-wrap: wrap; margin: 10px 0;">
                  <ion-avatar class="ion-activatable circle" (click)="onClickTopSeller()"  style="position:relative;">
                    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                    <img class="menu" src="http://cdn.shopify.com/s/files/1/0002/1328/6952/collections/best-seller_1200x1200.png?v=1521826271">
                  </ion-avatar>
                  <ion-label>
                    <div style="position: relative; left: -2px; top: 10px;">
                      <strong>Top Seller</strong>
                    </div>
                  </ion-label>
                </div >
              </ion-col>

              <ng-container *ngIf="menu">
                <ion-col size="3" size-sm  *ngFor="let m of menu; let i = index;">
                  <div class="display-center" style="flex-wrap: wrap; margin: 10px 0;">
                    <ion-avatar class="ion-activatable circle" (click)="onClickMenu(i)"  style="position:relative;">
                      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                      <ng-container *ngIf="m.image" class="display-center">
                        <img class="menu" [src]="m.image">
                      </ng-container>
                      <ng-container *ngIf="!m.image">
                        <ion-avatar>
                          <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-avatar>
                      </ng-container>
                    </ion-avatar>
                    <ion-label>
                      <div style="position: relative; justify-content: center; top: 10px;">
                        <strong>{{ m.name }}</strong>
                      </div>
                    </ion-label>
                  </div>
                </ion-col>
              </ng-container>
              
              <ng-container *ngIf="menu.length === 0">
                <!-- <ion-col size="3" size-sm  *ngFor="let m of menu; let i = index;"> -->
                  <div class="display-center" style="flex-wrap: wrap; margin: 17px 9px;">
                    <app-loading-menu></app-loading-menu>
                  </div>
                  <div class="display-center" style="flex-wrap: wrap; margin: 17px 9px;">
                    <app-loading-menu></app-loading-menu>
                  </div>
                  <div class="display-center" style="flex-wrap: wrap; margin: 17px 9px;">
                    <app-loading-menu></app-loading-menu>
                  </div>
                  <div class="display-center" style="flex-wrap: wrap; margin: 17px 9px;">
                    <app-loading-menu></app-loading-menu>
                  </div>
                  <div class="display-center" style="flex-wrap: wrap; margin: 17px 9px;">
                    <app-loading-menu></app-loading-menu>
                  </div>
                  <div class="display-center" style="flex-wrap: wrap; margin: 17px 9px;">
                    <app-loading-menu></app-loading-menu>
                  </div>
                  <div class="display-center" style="flex-wrap: wrap; margin: 17px 9px;">
                    <app-loading-menu></app-loading-menu>
                  </div>
                <!-- </ion-col> -->
              </ng-container>

            </ion-row>
          </ion-grid>
        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-card>
    <div style="margin: 0 16px 0 16px;">
      <ion-slides [options]="slideOpts" pager>
        <ion-slide (click)="onClickAds(ad.url)" *ngFor="let ad of ads">
          <div style="height: 305px;">
          <div style="padding-top:10px; margin-bottom: 10px;">
              <b>{{ ad.name }} </b><br>
              <i><small>{{ ad.description }}</small></i>
            </div>
            <div style="height: 200px; display:flex; justify-content: center;">
              <img  [src]="ad.fileurl"/>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </ion-card>

</ion-content>
