<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>

          <ng-container *ngIf="!empty && cart.length === 0">
            <app-loading-list></app-loading-list>
          </ng-container>

          <ng-container *ngIf="empty && cart.length === 0">
            <div class="display-center mt-5">
              <ion-chip color="danger">
                <ion-icon name="alert"></ion-icon>
                <ion-label>NO ITEMS ON CART</ion-label>
              </ion-chip>
            </div>
          </ng-container>

          <ng-container *ngIf="cart">
            <ng-container style="height:500px;overflow-y:auto;">
              <ion-item *ngFor="let c of cart; let i = index;">
                <ion-img class="img" [src]="c.image"> </ion-img>
                <ion-label style="padding-left:5px" >
                  <h2 style="font-weight: bold;">{{ c.name }}</h2>
                  <small>Quantity: {{ c.qty }} </small>
                  <small>Price: ₱ {{c.price | number:'0.2'}} </small>
                  <!-- <h3 style="word-wrap: break-word;"> {{ c.description }} </h3> -->
                  <!-- <h4> Available variant: {{ category.count }} </h4> -->
                </ion-label>
                <ion-button color="danger" (click)="onRemoveCartItem(i)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-item>
            </ng-container>
          </ng-container>

        </ion-list>

        <div *ngIf="cart.length !== 0">
          <ion-button expand="full" [routerLink]="['/cart/checkout']">PAY</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
