.img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 2px; /* Some padding */
    width: 80px; /* Set a small width */
    height: 80px;
  }
  