<ion-header>
  <ion-toolbar color="primary">
    <ng-container *ngIf="category">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home/category"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ category.name }}</ion-title>
    </ng-container>
    <ng-container *ngIf="!category">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Cuisine</ion-title>
    </ng-container>

    <ion-buttons slot="primary">
      <ion-button (click)="openCart()">
        <div class="cart-length">{{ cartItemCount | async }}</div>
        <ion-icon name="cart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngIf="subcategories">
      <ion-item button="true" [routerLink]="['/home/category/subcategory', subcategory.id]" (click)="onClickProduct(i)"
        *ngFor="let subcategory of subcategories; let i = index;">
        <ion-avatar slot="start">
          <ion-img [src]="subcategory.image"></ion-img>
        </ion-avatar>
        <ion-label>{{ subcategory.name }}</ion-label>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="empty">
      <div class="display-center mt-5">
        <ion-chip color="danger">
          <ion-icon name="alert"></ion-icon>
          <ion-label>THERE IS CURRENTLY NO CUISINE AVAILABLE.</ion-label>
        </ion-chip>
      </div>
    </ng-container>
    
    <ng-container *ngIf="!empty && subcategories.length === 0">
      <app-loading-list></app-loading-list>
    </ng-container>
  </ion-list>
</ion-content>
