<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Top Seller Cuisine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngIf="topSeller">
      <ion-item button="true" [routerLink]="['/home/category/subcategory', ts.id]" (click)="onClickTopSeller(i)"
        *ngFor="let ts of topSeller; let i = index;">
        <ion-avatar slot="start">
          <ion-img [src]="ts.image"></ion-img>
        </ion-avatar>
        <ion-label>{{ ts.name }}</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

  <ng-container *ngIf="!empty && topSeller.length === 0">
    <app-loading-list></app-loading-list>
  </ng-container>
</ion-content>
