<ion-header>
  <ion-toolbar color="primary">
    <ng-container *ngIf="menu">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ menu.name }}</ion-title>
    </ng-container>
    <ng-container *ngIf="!menu">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Cuisine</ion-title>
    </ng-container>

    <ion-buttons slot="primary">
      <ion-button (click)="openCart()">
        <div class="cart-length">{{ cartItemCount | async }}</div>
        <ion-icon name="cart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngIf="categories">
      <ion-item button="true" *ngFor="let category of categories; let i = index;" (click)="onClickCategory(i)" >
        <ion-avatar slot="start">
          <ion-img src="https://image.freepik.com/free-vector/beef-steak-meat-food-icon-flat-vector-illustration_48369-5133.jpg" >
          </ion-img>
        </ion-avatar>
        <ion-label>
          <h2> {{ category.name }} </h2>
          <h3 style="word-wrap: break-word;"> {{ category.description }} </h3>
          <h4> Available variant: {{ category.count }} </h4>
        </ion-label>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="menu">
      <ion-item *ngIf="empty" lines="none" >
        There is currently no {{ menu.name }} cuisine. 
      </ion-item>
    </ng-container>
    <ng-container *ngIf="!menu">
      <ion-item *ngIf="empty" lines="none" >
        There is currently no dish. 
      </ion-item>
    </ng-container>

    <ng-container *ngIf="!empty && categories.length === 0">
      <app-loading-list></app-loading-list>
    </ng-container>
  </ion-list>
</ion-content>
