<ion-header>
  <ion-toolbar color="primary">
    <ng-container *ngIf="product">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home/category/subcategory"></ion-back-button>
      </ion-buttons>
    </ng-container>
    <ng-container *ngIf="!product">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    </ng-container>
    <ion-title>Product Detail</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="openCart()">
        <div class="cart-length">{{ cartItemCount | async }}</div>
        <ion-icon name="cart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="product">
    <ion-grid class="ion-no-padding">
      <ion-row (click)="playVideo(product.video)">
        <ion-col class="ion-no-padding">
          <!-- <div style="position: relative; width: 100%; height: 150px;"> -->
          <ion-img class="img" [src]="product.image"></ion-img>
          <!-- </div> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h5 class="ion-text-center" style="padding-left:10px"><span>{{ product.name | uppercase}}&nbsp;{{ product.category?.name | uppercase }}</span> ({{product.pax}} PAX)&nbsp;</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <div style="justify-content:space-between;display: flex;">
              <div></div>
              <h5 class="ion-text-center" style="padding-left: 25px;">₱ {{product.price | number:'0.2'}}</h5>
              <ion-buttons slot="primary">
                <ion-button (click)="favorite()">
                  <ion-icon name="heart" [color]="product.favorite ? 'danger' : 'primary'" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
            <!-- <div style="justify-content: center;display: flex;">
              <span *ngIf="product.favorite">Remove from favorites</span>
              <span *ngIf="!product.favorite">Add to favorites</span>
            </div> -->
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item-divider>
            <ion-label (click)="collapseIngredient()" style="padding-left: 25px;">
              Ingredients
            </ion-label>
          </ion-item-divider>
          <ion-list [ngClass]="ingredientShow ? 'show':'hide'" id="ingredients">
            <ion-item *ngFor="let ingredient of product.ingredients">
              <ion-label style="word-wrap: break-word;white-space:normal"><span *ngIf="ingredient.qty !== 0">{{ ingredient.quantity | number:'1.0-0' }}&nbsp;{{ ingredient.unit }} </span> {{ ingredient.name }} </ion-label>
              <!-- <ion-checkbox slot="start" color="primary"></ion-checkbox> -->
            </ion-item>
          </ion-list>

          <ion-item-divider>
            <ion-label (click)="collapseInstruct()"  style="padding-left: 25px;">
              Instructions
            </ion-label>
          </ion-item-divider>
          <ion-list [ngClass]="instructionShow ? 'show':'hide'" id="instructions">
            <ion-item *ngFor="let instruction of textInstruction; let i = index;">
              <span style="display: flex; flex-wrap: wrap;">
                {{ i+1 }}. {{ instruction }}.
              </span>
            </ion-item>
          </ion-list>
          <ion-item-divider>
            <ion-label  style="padding-left: 25px;">
              Comments
            </ion-label>
          </ion-item-divider>
          <ion-list>
            <ion-item *ngFor="let comment of product.comments; let i = index;">
              <div>
                <ion-avatar slot="start">
                  <ion-img [src]="comment.picture"></ion-img>
                </ion-avatar>
                <ion-label style="padding-left:7px;"><small style="color:green;"><b>{{ comment.username | uppercase}}</b></small></ion-label>
              </div>
              <div>
                <div style="padding-left:10px;">
                <span>{{ comment.comment}}</span>
                </div>
                <div style="padding-left:10px;">
                  <small>{{ comment.date.date | date:'MMM d, y'}}</small>
                  </div>
                <div style="display: flex;justify-content: center;padding-left:10px;">
                  <ion-icon name="star" [color]="comment.rating > 0 ? 'primary': ''" slot="icon-only"></ion-icon>
                  <ion-icon name="star" [color]="comment.rating > 1 ? 'primary': ''" slot="icon-only"></ion-icon>
                  <ion-icon name="star" [color]="comment.rating > 2 ? 'primary': ''" slot="icon-only"></ion-icon>
                  <ion-icon name="star" [color]="comment.rating > 3 ? 'primary': ''" slot="icon-only"></ion-icon>
                  <ion-icon name="star" [color]="comment.rating > 4 ? 'primary': ''" slot="icon-only"></ion-icon>
                </div>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-container *ngIf="!product">
    <ion-list>
      <div class="display-center">
        <ion-item lines="none">
          <ion-avatar style="height: 200px; width: 200px;">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
        </ion-item>
      </div>
      <ion-item>
        <ion-label>
          <h3 class="display-center">
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </h3>
          <h3 class="display-start mt5">
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <h3 class="display-start mt5">
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <h3 class="display-start mt5">
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addToCart(product)">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>